/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  min-height: 100%;
  min-width: 320px;
  background: #C5E3EE;
  background: linear-gradient(#c5e3ee 0%, #b2b3df 100%);
}

body {
  display: flex;
  align-content: center;
  justify-content: flex-start;
  flex-direction: column;
  min-height: 100vh;
  color: #243645;
  font-family: droid-serif, serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 21px;
}

body.freeze {
  position: fixed;
}

::-moz-selection {
  background: #8F88A8;
  color: #D9DCFF;
  text-shadow: none;
}

::selection {
  background: #8F88A8;
  color: #D9DCFF;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

.subheader {
  font: bold 20px/24px mostra-nuova, sans-serif;
  color: #487194;
}

header {
  height: 50px;
  overflow: visible;
}

#menu_toggle {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 26px;
  height: 26px;
  -webkit-appearance: none;
  outline: none;
  z-index: 1000;
}

#menu_toggle::after,
#menu_toggle::before {
  position: absolute;
  font: normal 26px/26px sans-serif;
  text-align: center;
  transition: transform .25s, opacity .25s;
}
/* hamburger */
#menu_toggle::after {
  content: "\2630";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 16px;
  color: #754995;
}
/* close */
#menu_toggle::before {
  content: "\2715";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 16px;
  opacity: 0;
  color: #fff;
}
#menu_toggle:checked {
  position: fixed;
}

#menu_toggle:checked::after,
#menu_toggle:checked::before {
  transform: rotate(180deg);
}
#menu_toggle:checked::after {
  opacity: 0;
}
#menu_toggle:checked::before {
  opacity: 1;
}

.navigation {
  position: fixed;
  z-index: 999;
  width: calc(100% - 20px);
  max-width: 405px;
  top: 0;
  right: -100%;
  bottom: 0;
  transition: right .25s;
  background: linear-gradient(#4c2f61 0%, #9d61c7 100%);
  color: #fff;
}

#menu_toggle:checked ~ .navigation {
  right: 0;
  max-height: 100vh;
  overflow-y: scroll;
}

.navigation li {
  list-style: none;
  display: block;
}

.navigation a {
  text-decoration: none;
}
  
.mainNav li.donate-large {
  display: none;
}

.mainNav li.donate-small {
  display: block;
}

.mainNav {
  padding: 14px;
  font: normal 20px/24px mostra-nuova, sans-serif;
  color: #fff;
}

.mainNav li {
  margin: 15px 10px;
}

.mainNav li.donate {
  margin: 36px 10px;
}

.mainNav a,
.mainNav a:visited {
  color: #fff;
}

.mainNav .button-wide-alt,
.mainNav .button-wide-alt:visited {
  color: #754995;
}
.mainNav .button-wide-alt:hover {
  text-decoration: none;
}

.subscribe-newsletter {
  background: #2f4961; 
  padding: 20px 24px 20px;
}
.subscribe-newsletter .subheader {
  color: #fff;
}

.subNav {
  padding: 0;
  margin: 30px 24px;
}

.subNav a,
.subNav a:visited {
  font-family: droid-serif, serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 30px;
  color: #fff;
}

.socialNav {
  display: none;
}

.navigation .status501c3 {
  margin: 20px 24px;
  font-family: droid-serif, serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #d0d5db;
}
.navigation .copyright {
  margin: 20px 24px;
  font-family: droid-serif, serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #d0d5db;
}

.main {
  flex: 1;
}

#logo {
  max-width: 81px;
  margin: 0px auto 0 20px;
  z-index: 1;
  position: relative;
}
#logo img {
  display: block;
  width:100%;
}
a, a:active {
  color: #754995;
}
a:visited {
  color: #4D3C4A;
}
a:hover {
  text-decoration: underline;
}
input[type="text"],
input[type="email"],
input[type="password"] {
  font: normal 14px/40px droid-serif, serif;
  height: 40px;
  padding: 0 8px;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  color: #001f26;
  border-radius: 7px;
  background: #d0d5db;
  border: 2px solid #d0d5db;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.7);  
  outline: none;
}

input[type="text"]:invalid:not(:placeholder-shown):not(:focus),
input[type="email"]:invalid:not(:placeholder-shown):not(:focus),
input[type="password"]:invalid:not(:placeholder-shown):not(:focus) {
  border: 2px solid #be3151;
}

.fieldset {
  position: relative;
}

label {
  font: normal 12px/14px mostra-nuova, sans-serif;
  color: #487194;
  margin-bottom: 5px;
  margin-left: 2px;
}

::-webkit-input-placeholder,
.inline-label {
  display: block;
  opacity: .5;
  font: italic 14px/38px droid-serif, serif;
  color: #67797F;
  position: absolute;
  top: 1px;
  left: 9px;
  background: #D0D5DB;
}

.inline-label {
  opacity: 1;
}

input[type="email"]:focus + .inline-label,
input[type="email"]:valid + .inline-label,
input[type="email"]:invalid:not(:placeholder-shown) + .inline-label {
  opacity: 0;
}

.button {
  font: normal 20px/24px mostra-nuova, sans-serif;
  text-align: center;
  color: #fff;
  border: 0;
  border-radius: 7px;
  background: linear-gradient(#4c2f61 0%, #9d61c7 100%);
  padding: 8px 32px;
  margin: auto;
  display: block;
}
.button:hover {
  box-shadow: 0px 3px 6px #243645;
  text-decoration: none;

}
.button:disabled {
  background: #92879A;
  color: #d0d5db;
}

.button2 {
  font: normal 17px/20px mostra-nuova, sans-serif;
  text-align: center;
  color: #fff;
  border: 0;
  border-radius: 7px;
  background: #2f4961;
  padding: 10px 30px;
  margin: auto;
  display: block;
}
.button2:hover {
  background: #487194;
  filter: drop-shadow(0px 3px 6px #243645);
}
.button2:disabled {
  background: #487194;
  color: #d0d5db;
}

.button-wide-alt {
  background: linear-gradient(#c2dee4 0%, #bcbcd8 100%);
  color: #754995;
  padding: 12px;
}
.button-wide-alt:hover {
  filter: drop-shadow(0px 3px 6px #243645);
}
.button-wide-alt:disabled {
  background: #92879a;
  color: #d0d5db;
}

.button-inline {
  width: 40px;
  height: 40px;
  border-radius: 0px 6px 6px 0px;
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%3E%3Cpath%20d%3D%22M8%200L6.545%201.455l5.506%205.506H0v2.078h12.052l-5.507%205.506L8%2016l8-8z%22%20fill%3D%22%23FFFFFF%22%2F%3E%3C%2Fsvg%3E'), linear-gradient(#4c2f61 0%, #9d61c7 100%);
  background-size: 16px, 100%;
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  color: transparent;
}
.button-inline:hover {
  border: 2px inset #f1f9ff;
}
.button-inline:disabled {
  background: #92879a;
  color: #d0d5db;
}

.subscribe-newsletter-form {
  margin: 0;
  max-width: unset;
}

.subscribe-newsletter input[type=submit].button-inline {
  margin: 0;
  position: absolute;
  bottom: 0;
  right: 0;
}
.subscribe-newsletter .fieldset {
  padding-top: 20px;
}
.subscribe-newsletter label {
  display: block;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  font-family: mostra-nuova, sans-serif;
  font-weight: normal;
  font-size: 10px;
  line-height: 11px;
  color: #C5E3EE;
}

footer {
  text-align: left;
  margin: 0 20px 20px;
  font: normal 12px/14px droid-serif, serif;
  color: #243645;
}

footer nav {
  display: flex;
  flex-direction: column;
}

footer span {
  display: block;
  margin: 11px 0;
}

footer nav a {
  color: #243645;
  text-decoration: underline;
  margin: 10px 0;
}

#copyright {
  font-weight: normal;
  font-size: 10px;
}

.inset {
  margin: 0 20px;
}

.nowrap {
  white-space: nowrap;
}

.icon_heart:before {
  content: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016.001%2016%22%3E%3Cpath%20fill%3D%22none%22%20d%3D%22M0%200h16v16H0z%22%2F%3E%3Cpath%20d%3D%22M14.722%202.275a4.3%204.3%200%2000-6.119%200l-.6.6-.6-.6a4.331%204.331%200%2000-6.127%206.123l6.721%206.721%206.721-6.721a4.3%204.3%200%20000-6.119%22%20fill%3D%22%23754995%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E');
}
.icon_person:before {
  content: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%3E%3Cpath%20d%3D%22M0%2016v-2c0-2.2%203.6-4%208-4s8%201.8%208%204v2zM4%204a4%204%200%20114%204%204%204%200%2001-4-4z%22%20fill%3D%22%23754995%22%2F%3E%3C%2Fsvg%3E');
}
.icon_earth:before {
  content: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%3E%3Cpath%20d%3D%22M12.72%2012.32a1.635%201.635%200%2000-1.52-1.12h-.8V8.8a.756.756%200%2000-.8-.8H4.8V6.4h1.6a.756.756%200%2000.8-.8V4h1.6a1.6%201.6%200%20001.6-1.6v-.32a6.48%206.48%200%20014%205.92%206.326%206.326%200%2001-1.68%204.32m-5.52%202A6.456%206.456%200%20011.6%208a8.815%208.815%200%2001.16-1.44L5.6%2010.4v.8a1.6%201.6%200%20001.6%201.6M8%200a8%208%200%20108%208%208.024%208.024%200%2000-8-8z%22%20fill%3D%22%23754995%22%2F%3E%3C%2Fsvg%3E');
}

.floral {
  position: relative;
}
.floral:after {
  content: "";
  position: absolute;
  background: url("../img/flowers-bottom.png") 0 0 no-repeat;
  background-size: contain;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: -94px;
  width: 280px;
  height: 117px;
}

.sectionHeader {
  font: normal italic 28px/33px droid-serif, serif;
  text-align: center;
  color: #487194;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 10px;
}
.sectionHeader span {
  padding: 0 20px;
  position: relative;
  flex: none;
}
.sectionHeader:before,
.sectionHeader:after {
  content: '';
  height: 3px;
  background: #C5E3EE;
  flex: 1;
}
.sectionHeader span:before {
  background: red;
}
.sectionHeader span:after {right: 0;}

.cta {
  font: normal 25px/34px droid-serif, serif;
  text-align: center;
  color: #2f4961;
  margin: 20px;
  padding: 0;
}

.cta2 {
  font: normal 21px/25px mostra-nuova, sans-serif;
  color: #754995;
}

.gl-simple-donation-widget {
  margin: 40px 20px;
}

@media only screen and (min-width: 768px) {
  footer {
    width: 100%;
    margin: 0 0 20px;
    padding: 0 22px;
    align-items: baseline;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  footer section {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  footer nav a {
    margin-right: 20px;
  }
  footer nav span {
    margin: 1em 20px;
  }
  footer nav span:first-child {
    margin-left: 0;
  }
  #copyright {
    font-size: unset;
    text-align: right;
  }
  .sectionHeader {
    margin: 0 20px;
  }
}

@media only screen and (min-width: 1025px) {
  body.freeze {
    position: static;
  }

  #logo {
    max-width: 154px;
  }
  header {
    height: 120px;
    display: flex;
    max-width: 1244px;
    width: 100%;
    margin: 0 auto;
  }

  #menu_toggle {
    display: none;
  }

  .navigation {
    position: static;
    background: transparent;
    max-width: unset;
  }
  #menu_toggle:checked ~ .navigation {
    overflow-y: hidden;
  }
  
  .mainNav {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 120px;
  }
  
  .mainNav a:not(.button), 
  .mainNav a:visited:not(.button) {
    font-size: 18px;
    color: #243645;
  }
  
  .mainNav li.donate-large {
    display: block;
  }
  
  .mainNav li.donate-small {
    display: none;
  }

  .navigation .mobile {
    display: none;
  }
}

@media only screen and (min-width: 1280px) {
  footer {
    width: 1268px;
    margin: 60px auto 20px;
  }
}

@media only screen and (min-width: 1440px) {
  #logo {
    max-width: 200px;
  }
}

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
