img {
  max-width: 50px;
  float: right;
}
.card {
  padding: 20px;
}
.card:first-of-type {
  margin-top: 40px;
}
.subheader {
  display: inline;
}
.button {
  display: inline-block;
}
@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1024px) {
}
@media only screen and (min-width: 1440px) {
}
