.icon {
  max-width: 50px;
  float: right;
  margin: 0 0 10px 10px;
}
.card {
  padding: 20px;
  margin: 40px 0;
}
.subheader {
  display: inline;
}
.button {
  display: inline-block;
}
@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1024px) {
}
@media only screen and (min-width: 1440px) {
}
