.hero {
  background-image: url("../images/programs-hero-small.jpg");
}

.quote {
  position: absolute;
  right: 30px;
  bottom: 20px;
  max-width: 280px;
  text-align: right;
}

.title {
  margin-top: 16px;
}

.form {
  margin: 30px auto 40px;
}

.subheader {
  font-weight: normal;
  margin: 30px 0 10px;
}

@media only screen and (min-width: 768px) {
  .quote {
    max-width: 350px;
    position: relative;
    bottom: unset;
    margin-top: 10px;
    margin-left: 87px;
  }
  .hero {
    background-image: url("../images/programs-hero-small@2x.jpg");
  }
}

@media only screen and (min-width: 1024px) {
  .hero {
    background-image: url("../images/programs-hero-large.jpg");
  }
  .quote {
    max-width: 380px;
  }

  .form {
    grid-area: form;
    margin-top: 0;
  }

  .section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 1px 1px;
    grid-template-areas: "volunteerContainer";
  }

  .volunteerContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr;
    gap: 1px 1px;
    grid-template-areas: "volunteerIntro" "volunteerOpportunities";
    grid-area: volunteerContainer;
  }
  
  .volunteerIntro { grid-area: volunteerIntro; }  
  
  .volunteerOpportunities {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    gap: 1px 1px;
    grid-template-areas: ". volunteerForm";
    grid-area: volunteerOpportunities;
  }
  
  .volunteerForm { grid-area: volunteerForm; }
}
@media only screen and (min-width: 1440px) {
  .hero {
    background-image: url("../images/programs-hero-large@2x.jpg");
  }
  .quote {
    max-width: 560px;
  }
}
