.hero {
  background-image: url("/images/get_involved-hero-small.jpg");
  background-image: image-set(
    url(/images/get_involved-hero-small.jpg) 1x,
    url(/images/get_involved-hero-small@2x.jpg) 2x
  );
}

.quote {
  position: absolute;
  right: 30px;
  bottom: 20px;
  max-width: 280px;
  text-align: right;
}

@media only screen and (min-width: 768px) {
  .quote {
    max-width: 350px;
    position: relative;
    bottom: unset;
    margin-top: 10px;
    margin-left: 87px;
  }
  .hero {
    background-image: url("/images/get_involved-hero-medium.jpg");
    background-image: image-set(
      url(/images/get_involved-hero-medium.jpg) 1x,
      url(/images/get_involved-hero-medium@2x.jpg) 2x
    );
  }
}

@media only screen and (min-width: 1024px) {
  .hero {
    background-image: url("/images/get_involved-hero-large.jpg");
    background-image: image-set(
      url(/images/get_involved-hero-large.jpg) 1x,
      url(/images/get_involved-hero-large@2x.jpg) 2x
    );
  }
  .quote {
    max-width: 380px;
  }
}
@media only screen and (min-width: 1440px) {
  .hero {
    background-image: url("/images/get_involved-hero-large@2x.jpg");
  }
  .quote {
    max-width: 560px;
  }
}
