.title {
  margin-top: 16px;
}

.form {
  margin: 30px auto 40px;
}

.subheader {
  font-weight: normal;
  margin: 30px 0 10px;
}

@media only screen and (min-width: 1024px) {
  .form {
    grid-area: form;
    margin-top: 0;
  }

  .section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 20px 44px;
    grid-template-areas: ".";
  }
}
