.getApp {
  background: url(../images/beta-cta-small.jpg) center top no-repeat,
    linear-gradient(#a5cded 0%, #acbbe8 50%, #c1b7f0 100%);
  background-size: cover;
  padding: 20px 30px;
  text-align: center;
}
.getApp h2 {
  margin: 14px auto;
  text-align: center;
}
.getApp p {
  font: normal italic 12px/18px droid-serif, serif;
  color: #576877;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .getApp {
    padding: 40px 30px;
    background-image: url(../images/beta-cta-small@2x.jpg);
  }
}

@media only screen and (min-width: 1025px) {
  .getApp {
    background-image: url(../images/beta-cta-large.jpg);
  }
}
@media only screen and (min-width: 1440px) {
  .getApp {
    background-image: url(../images/beta-cta-large@2x.jpg);
  }
}
