.cta {
  font: normal 25px/34px droid-serif, serif;
  text-align: center;
  color: #2f4961;
  margin: 20px;
  padding: 0;
}

.cta2 {
  font: normal 21px/25px mostra-nuova, sans-serif;
  color: #754995;
}
