.footer {
  padding: 0px 20px;
  background: linear-gradient(#4c2f61 0%, #9d61c7 100%);
  position: relative;
}

@media only screen and (min-width: 768px) {
  .footer {
    margin: 0;
    padding: 0;
    background: #2f4961;
  }

  .grid {
    display: grid;
    color: #fff;
    grid-template-columns: 3fr repeat(2, 1fr);
    grid-template-rows: 80px 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0;
    align-items: end;
    margin: 0 auto;
    width: 100%;
    max-width: 1348px;
  }
}
