.header {
  height: 50px;
  overflow: visible;
}

.logo {
  max-width: 81px;
  margin: 0px auto 0 20px;
  z-index: 1;
  position: relative;
}

.logo img {
  display: block;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .header {
    height: 120px;
    display: flex;
    max-width: 1348px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
  }
  .logo {
    max-width: 154px;
  }
}

@media only screen and (min-width: 1025px) {
  .header {
    height: 120px;
    display: flex;
    max-width: 1348px;
    width: 100%;
    margin: 0 auto;
    padding: 0px 30px 0 40px;
    box-sizing: border-box;
  }
}

@media only screen and (min-width: 1348px) {
  .logo {
    margin: 0;
  }
}
