.inline {
  width: 40px;
  height: 40px;
  border-radius: 0px 6px 6px 0px;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%3E%3Cpath%20d%3D%22M8%200L6.545%201.455l5.506%205.506H0v2.078h12.052l-5.507%205.506L8%2016l8-8z%22%20fill%3D%22%23FFFFFF%22%2F%3E%3C%2Fsvg%3E"),
    linear-gradient(#4c2f61 0%, #9d61c7 100%);
  background-size: 16px, 100%;
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  color: transparent;
  margin: 0;
  position: absolute;
  bottom: 0;
  right: 0;
}
.inline:hover {
  border: 2px inset #f1f9ff;
}
.inline:disabled {
  background: #92879a;
  color: #d0d5db;
}
