.sectionHeader {
  font: normal italic 22px/25px droid-serif, serif;
  text-align: center;
  color: #487194;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 0;
  max-width: 1244px;
}
.sectionHeader:first-child {
  margin-top: 0;
}
.sectionHeader span {
  padding: 0 20px;
  position: relative;
  flex: none;
}
.sectionHeader:before,
.sectionHeader:after {
  content: "";
  height: 3px;
  background: #487194;
  flex: 1;
}
.sectionHeader span:after {
  right: 0;
}

@media only screen and (min-width: 768px) {
  .sectionHeader {
    font-size: 32px;
    line-height: 33px;
    margin: 30px 20px 20px;
  }
}
@media only screen and (min-width: 1280px) {
  .sectionHeader {
    width: 100%;
    margin: 40px auto 20px;
  }
}
